body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: .4fr 3fr;
    grid-template-rows: .4fr 2fr;
}
.sidebar{
    display: grid;
    grid-row: 1 / 3;
}
ul{
    display: grid;
    grid-template-rows: 1fr .3fr .3fr .3fr .3fr .3fr 1fr .3fr .3fr .3fr;
    list-style: none;
}
.header{
    display: grid;
    padding: 10px;
    grid-template-rows: .2fr .8fr;
    height: 90%;
    align-content: center;
}
.top-header{
    display: grid;
    grid-template-columns: .3fr 2fr 1fr;
}
.searchbar{
    text-align: center;
    border-radius: 10px;
}
.search{ 
    cursor: pointer;
}
.profile-information{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

.bottom-header{
    display: grid;
    align-self: center;
    grid-template-rows: .2fr;
    grid-template-columns: .22fr 2fr 1fr;
    border: solid black 1px;;
}
#greeting{
    grid-column: 2 / 2;
    grid-row: 1;
}
#greeting-pic{
    grid-column: 1 / 2;
    grid-row: 1;
}
.header-buttons{
    display: grid;
    grid-template-columns: 1fr .2fr 1fr .2fr 1fr;
    grid-column: 3 / 4;
    justify-content: space-evenly;
}
.header-buttons > button{
    cursor: pointer;
    width: 120px;
    border-radius: 10px;
}
.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: -2 / -1;
    padding-left: 10px;
}
.main-content>div{
    border: solid black 1px;
    padding: 10px;
}
.projects{
    display: grid;
    grid-template-columns: 1fr .04fr 1fr;
    grid-template-rows: .01fr;
    grid-row: 1 / -3;
}
#your-projects{
    grid-column: 1 / 4;
}
.trending{
    grid-column: -2 / -1;
    margin-bottom: 27.3px
}
.projects>p{
    border: solid black 1px;
    text-align: center;
}
.announcements{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr 1fr 1fr;
}
.announcemnts>p{
    border: solid black 1px;
}